.page {
  min-height: 640px;
}

.filter {
  //background-color: #d0d0d020;
  text-align: left;

  button {
    padding: 3px 10px;
    margin: 8px;

    font-size: 11px;

    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 10px;

    &.active {
      border-color: #2dacf9;
      background-color: #2dacf9;
    }

    &:focus {
      outline: none;
    }
  }
}

