.header {
  position: sticky;
  top: 0;

  height: 38px;
  width: 100%;
  box-sizing: border-box;

  z-index: 10;

  background: #e5e5e5e0;
}

.title {
  margin: 0;
  padding: 5px 0;

  font-size: 21px;
  bottom: 0px;
}
