.head {
  position: relative;

  .title {
    color: var(--gray);
    margin: 0;
    padding: 5px;
    font-size: 1em;
  }

  .info {
    position: relative;

    .circle {
      margin: 20px auto;
      padding: 20px;

      width: 120px;
      height: 120px;

      border-radius: 50%;
      background-color: #f0f0f0;

      .balance {
        margin: 18px 0;
        font-size: 1.4em;
      }

      svg {
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        circle {
          fill: rgba(0, 0, 0, 0);
          stroke: #eee;
          stroke-width: 15;

          transition: 0.5s;
        }

        // income
        circle:nth-child(2n) {
          fill: rgba(0, 0, 0, 0);
          stroke: #30bae7;
          stroke-width: 15;
        }

        // expense
        circle:nth-child(3n) {
          fill: rgba(0, 0, 0, 0);
          stroke: red;
          stroke-width: 15;
        }
      }
    }
  }
}


